@model GuessTheSong.Models.DataModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="A simple song guessing game to play with your friends">
    <meta name="keywords" content="song,songs,guess,guessing,friends,social,game">
    <meta name="author" content="Stefan Timovski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess The Song</title>
    <link rel="stylesheet" type="text/css" href="~/site.css" />
</head>
<body>
    <div id="page-container">
        <div class="header">
            <h1 id="header"> Guess The Song</h1>
        </div>
        <div class="content">
            <div id="welcome-container" style="display: none;">
                <p id="welcome-info-container" class="info-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <span id="welcome-more-info-link" class="link">More info...</span>
                </p>
                <p id="welcome-more-info-container" class="info-container" style="display: none;">
                    Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <br>
                <div id="play-game-button" class="button">
                    <span class="icon-play"></span>
                    <div class="play-button-text-container">
                        <div class="play-button-play">
                            PLAY
                        </div>
                        <div class="play-button-info">
                            (Spotify premium account required. <span id="spotify-premium-info-link" class="link">More info...</span>)
                        </div>
                    </div>
                </div>
                <br>
                <p id="spotify-premium-info-container" class="info-container" style="display: none;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div>
                <h1 id="loading" style="display: none;">Loading...</h1>
            </div>
            <div id="controls-div" style="display: none;">
                <div id="toggle-play-pause-button" class="button">
                    <span class="icon-pause"></span>
                    <div class="play-button-text-container">
                        <div class="play-button-play">
                            Toggle Play/Pause
                        </div>
                        <div class="play-button-info">
                            (p, &uarr;)
                        </div>
                    </div>
                </div>
                <br>
                <div id="play-previous-song-button" class="button">
                    <span class="icon-previous"></span>
                    <div class="play-button-text-container">
                        <div class="play-button-play">
                            Play Previous Song
                        </div>
                        <div class="play-button-info">
                            (backspace, &larr;)
                        </div>
                    </div>
                </div>
                <br>
                <div id="play-next-song-button" class="button">
                    <span class="icon-next"></span>
                    <div class="play-button-text-container">
                        <div class="play-button-play">
                            Play Next Song
                        </div>
                        <div class="play-button-info">
                            (space, &rarr;)
                        </div>
                    </div>
                </div>
                <br>
                <div id="show-song-info-button" class="button">
                    <span class="icon-info"></span>
                    <div class="play-button-text-container">
                        <div class="play-button-play">
                            Show Info
                        </div>
                        <div class="play-button-info">
                            (enter, &darr;)
                        </div>
                    </div>
                </div>
                <br>
                <span id="info-span" style="display: none;"></span>
            </div>
        </div>
        <div class="footer">
            Powered by:
            <a href="https://www.spotify.com/" target="_blank" rel="noopener">
                <span class="link">Spotify</span>
                <span class="icon-spotify"></span>
            </a>
            |
            <a href="https://github.com/Timovski/GuessTheSong" target="_blank" rel="noopener">
                <span class="link">GitHub</span>
                <span class="icon-github"></span>
            </a>
        </div>
    </div>
    <script>
        var clientId = "@Model.ClientId";
        var redirectUri = "@Model.RedirectUri";
        var authUri = "@Model.AuthUri";
        var playUri = "@Model.PlayUri";
        var accessToken = "@Model.AccessToken";
    </script>
    @if (!string.IsNullOrWhiteSpace(Model.AccessToken))
    {
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="~/songs.js"></script>
    }
    <script src="~/site.js"></script>
</body>
</html>
